.loader {
  background-image:url(../img/loader.gif);
  background-repeat:no-repeat;
  background-position: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  margin: 0px;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 1000; 
}

.header .container {
  max-width: 900px;
  width: 100%;
  height: 50px;
  margin: auto;
  box-sizing: border-box;
  padding: 5px;
  background-color: #993045;
  clear: both;
  color: white;
  font-size: 14pt;
  text-align: right;
}

body {
  padding-top: 50px;
  max-width: 900px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .container div {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.header a {
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
}

.header a.sign-in-link {
  display: inline-block;
  background-color: white;
  color: #993045;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.header a.sign-in-link:hover {
  background-color: #fe8070;
  color: white;
}

.header a.sign-in-link:visited {
  color: #993045;
}

.header .cart {
  background-image: url(../img/cart.svg);
  background-position: 7px 0px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header .cart .size {
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 110px;
  padding-left: 45px;
  height: 40px;
  line-height: 30px;
  text-transform: lowercase;
  cursor: pointer;
  border: solid 1px white;
  color: white;
  background-color: rgb(255, 0, 0, 0.7);
}

.header .cart .size.usd:before {
  content: '$';
}

.header .cart .size.euro:before {
  content: '\20AC';
}

.currency-selector {
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  line-height: 30px;
  text-transform: lowercase;
  cursor: pointer;
  border: solid 1px white;
}

.currency-selector .usd-currency:before {
  content: '$';
}

.currency-selector .euro-currency:before {
  content: '\20AC';  
}

.menu {
  float: none;
  clear: both;
  text-align: center;
}

.image {
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.menu .pizza {
  width: 205px;
  height: 260px;
  background-color: #efefef;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  position: relative;
  display: inline-block;
}

.menu .pizza .image {
  width: 195px;
  height: 195px;
}

.menu .pizza .title {
  font-size: 12pt;
  color: #993045;
  margin: 5px;
}

.price {
  position: absolute;
  font-size: 11pt;
  color: white;
  background-color: red;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid white;
}

.price.usd:before {
  content: '$';
}

.price.euro:before {
  content: '\20AC';
}

.menu .pizza .price {
  right: 20px;
  bottom: 70px;
}

.image .description {
  display: none;
  position: absolute;
  background-color: rgb(245, 245, 245, 0.85);
  box-sizing: border-box;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5px;
  text-align: left;
  font-size: 10pt;
}

.image:hover .description {
  display: block;
}

.buy {
  vertical-align: middle;
}

.buy button {
  background-color: #993045;
  border: none;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 10pt;
  font-weight: bolder;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 25px;
  vertical-align: middle;
}

.buy button.dec:before {
  content: '\002D';
}

.buy button.inc:before {
  content: '\002B';
}

.buy .quantity {
  display: inline-block;
  background-color: white;
  color: #993045;
  border: solid 1px #993045;
  padding: 3px;
  box-sizing: border-box;
  font-size: 10pt;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

h3 {
  clear: both;
  float: none;
  text-align: center;
  color: #993045;
  text-transform: uppercase;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-top: 1px solid silver;
  padding: 20px;
}

.options-filter {
  text-align: center;
}

.options-filter button {
  margin: 5px;
  background-color: white;
  color: #993045;
  border: solid 1px #993045;
  font-size: 12pt;
  padding: 10px;
  text-transform: uppercase;
}

.options-filter button.active {
  background-color: #993045;
  color: white;
  border: solid 1px #993045;
}

.options {
  text-align: center;
}

.options .option {
  width: 155px;
  height: 210px;
  background-color: #efefef;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  position: relative;
  display: inline-block;
}

.options .option .price {
  right: 10px;
  bottom: 60px;
}

.options .option .image {
  width: 145px;
  height: 145px;
}

.options .option .title {
  font-size: 11pt;
  color: #993045;
  margin: 5px;
}

.login-form {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
}

.user-menu {
  clear: both;
  display: block;
  float: right;
  height: 40px;
  overflow: visible;
  position: relative;
}

.user-menu .uid {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: none;
  display: block !important;
  cursor: pointer;
  text-decoration: underline;
}

.user-menu .popup {
  float: none;
  display: none !important;
  background-color: #993045;
  padding: 10px;
  border-top: solid white 1px;
}

.user-menu:hover .popup {
  display: block !important;
}

.user-menu .popup a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.error {
  width: 100%;
  border: solid 1px red;
  background-color: tomato;
  color: white;
  font-size: 14pt;
  padding: 20px;
  margin: 10px;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.form input, .form textarea {
  border: 1px gray solid;
  border-radius: 0px;
  padding: 10px;
  font-size: 11pt;
  margin: 10px;
  width: 100%;
}

.form textarea {
  min-height: 200px;
}

.button-holder {
  text-align: right;
  margin: auto;
  max-width: 400px;
}

.button-holder button {
  color: white;
  background-color: #993045;
  padding: 10px;
  font-size: 11pt;
  text-transform: uppercase;
  border: solid 1px #993045;
  margin: 10px;
}

.order-positions {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
  text-align: right;
}

.order-positions th {
  text-align: center;
  padding: 10px;
  color: white;
  border: 1px silver solid;
  background-color: gray;
  text-transform: uppercase;
}

.order-positions tr:hover td {
  background-color: lightcoral;
}

.order-positions td {
  padding: 10px;
  border: 1px silver solid;
}

.order-positions .left {
  text-align: left;
  font-weight: bolder;
}

.order-positions tfoot td {
  background-color: lightgrey;
}

.order-positions tr.total td {
  font-weight: bolder;
}

.info {
  margin: 20px;
  border-style: none;
  background-color: lemonchiffon;
  font-size: 11pt;
  padding: 20px;
  text-align: justify;
}

.history {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  table-layout: fixed;
  border-spacing: 5px;
  margin: auto;
}

.history th {
  text-align: center;
  padding: 10px;
  color: white;
  border: 1px silver solid;
  background-color: gray;
  text-transform: uppercase;
}

.history tr {
  cursor: pointer;
}

.history tr td:nth-child(2) {
  text-align: center;
}

.history tr.selected td {
  background-color: lightcoral;
}

.history td {
  padding: 10px;
  border: 1px silver solid;
}